<!-- <!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>More Fun in the Philippines - Gallery - CodePen</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>More fun in the Philippines</title>

    <link href="//code.ionicframework.com/1.0.0-beta.12/css/ionic.css" rel="stylesheet">
  </head> 

  <body ng-controller="MyCtrl">
-->
<ion-view class="bgDark" title="navTitle" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <h1 class="title">Gallery</h1>
      </div>
    </ion-header-bar>

    <ion-content>

      <photo-grid photos="photos"></photo-grid>
    </ion-content>


</ion-view>